# Dependencias
node_modules/

# Build / salida
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor / SO
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Locales
*.local

# Backups de Blender
*.blend1
